:root {
  --primary-color: #f8f8f8;
  --beige: #fff3ed;
  --green: #a9c39e;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  background-image: url("../../images/background.svg");
  background-repeat: repeat;
  background-size: 400px;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  font-weight: 300;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  cursor: pointer;
}

h3 {
  margin-top: 0;
}

nav {
  background-color: var(--primary-color);
}

.nav-container,
.container,
.shop-container,
.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 126px;
  padding: 10px 0;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: none;
  background-color: var(--primary-color);
  text-align: left;
  z-index: 2;
}

a.nav-link {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px 0;
}

.menu {
  width: 50px;
  cursor: pointer;
}

a:hover {
  color: var(--green);
}

.active {
  color: var(--green);
}

.container {
  flex: 1 0 auto;
  margin: 30px auto 70px;
  padding-bottom: 50px;
  background-color: var(--beige);
}

.container p {
  font-size: 18px;
  font-weight: 300;
}

.interior-img {
  display: block;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
.frontpage-text {
  width: 90%;
  margin: 0 auto;
}

.shop {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  display: block;
  background-color: var(--green);
  margin: 0 auto;
  height: 55px;
  width: 90%;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: white;
}

/* Shop */

.shop-container {
  flex: 1 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.feature-image {
  position: relative;
  width: 100%;
  margin-bottom: 75px;
}

.feature-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.feature-text {
  width: 100%;
  background-color: rgba(248, 248, 248, 0.6);
  position: absolute;
  bottom: 4px;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
}

.feature-text h1 {
  font-family: "Lato", sans-serif;
}

.feature-text:hover {
  background-color: rgba(169, 195, 158, 0.6);
}

.shop-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
}

.product-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  cursor: pointer;
}

.product-info {
  background-color: var(--primary-color);
  padding: 10px;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-header {
  background-color: var(--primary-color);
  padding: 5px;
  text-align: center;
  margin-bottom: 50px;
}

.category-header h1 {
  font-size: 42px;
}

.product-header h2:hover {
  color: var(--green);
}
.favorite-icon,
.menu-icon {
  width: 30px;
}

.favorite-icon,
.menu-icon {
  cursor: pointer;
}
.favorite-icon:hover {
  background-image: url("../images/star-full.svg");
}

footer {
  flex-shrink: 0;
  background-color: var(--green);
  flex-shrink: 0;
}

.footer-container {
  padding: 10px 0;
}

.footer-container a:hover {
  color: white;
}

.some {
  cursor: pointer;
}

.some:last-child {
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .nav-links {
    display: block;
  }

  a.nav-link {
    display: inline;
    margin-left: 60px;
  }

  .menu {
    display: none;
  }

  .logo {
    width: 150px;
  }
  .container p {
    font-size: 28px;
  }
  .container {
    margin: 70px auto 100px;
    position: relative;
    height: 900px;
  }

  .feature-image img {
    height: 350px;
    filter: brightness(105%);
  }

  .item {
    margin: 0 0;
  }

  .product-image {
    width: 250px;
    height: 320px;
  }
  .interior-img {
    width: 416px;
    position: absolute;
    top: 65px;
    right: 87px;
    z-index: 1;
    padding: 0;
  }

  .grey-box {
    background-color: var(--primary-color);
    position: absolute;
    top: 122px;
    left: 150px;
    width: 327px;
    height: 325px;
  }
  .frontpage-text {
    width: 290px;
    position: absolute;
    top: 314px;
    left: 127px;
  }
  .shop {
    position: absolute;
    width: 225px;
    top: 406px;
    right: 80px;
  }

  .shop-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .shop-container {
    margin-bottom: 130px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 1300px) {
  .container {
    height: 700px;
  }

  .interior-img {
    width: 526px;
    top: 85px;
    right: 127px;
    z-index: 1;
  }

  .grey-box {
    background-color: var(--primary-color);
    position: relative;
    top: 122px;
    left: 300px;
    width: 327px;
    height: 425px;
  }

  .frontpage-text {
    width: 360px;
    top: 274px;
    left: 167px;
  }

  .shop {
    width: 225px;
    height: 55px;
    top: 506px;
    right: 350px;
  }
  .feature-image img {
    height: 350px;
  }
  .product-image {
    width: 300px;
    height: 400px;
  }
}
